<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Scripts and styles here -->
  </head>
  <body class="container">
    <header>
      <h1>Isomorphic React Example</h1>
    </header>
    <section id="content"><%- content %></section>
    <script src="/static/client.js"></script>
  </body>
</html>